body {
  margin: 0;
  padding: 0;
}

/* TIÊU ĐỀ MỖI PAGE */
.section-title {
  color: #c06252;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Cứ bảng nào có nút thêm thì add class vô */
.addButton {  
  border-radius: 6px;
  font-weight: 500;
  background-color: #c06252 !important;
  border-color: #c06252 !important;
  color: #fff !important;
  transition: all 0.3s ease;
}


.addButton:hover,
.addButton:focus {
  background-color: #b35044 !important;
  border-color: #b35044 !important;
}

/* Dùng cho tittle của component để nó responsive */
.card-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0px;
  margin-bottom: 5px;
}

/* Global - Ghi đè màu nút OK toàn bộ modal */
.ant-btn-primary {
  background-color: #c06252 !important;
  border-color: #c06252 !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #a44e42 !important;
  border-color: #a44e42 !important;
}

/* Bảng - màu nền header */
.ant-table-thead > tr > th {
  background-color: #c06252 !important;
  color: white !important;
  font-weight: 600;
}

/* Hover dòng */
.ant-table-tbody > tr:hover {
  background-color: rgba(192, 98, 82, 0.05) !important;
}


.main-content-wrapper {
  position: relative;
}

.ant-card .ant-card-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 56px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.88);
  font-weight: 600;
  font-size: 16px;
  background: #c06252;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 8px 8px 0 0;
}

.ant-divider::before,
.ant-divider::after {
  border-top: 1px solid #c06252 !important;
}
.ant-divider {
  color: #c06252 !important;
}


/* Đổi màu viền khi hover */
.ant-input:hover,
.ant-textarea:hover,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-picker:hover {
    border-color: #c06252 !important; /* Màu đỏ chủ đạo */
}

/* Đổi màu viền khi focus */
.ant-input:focus,
.ant-textarea:focus,
.ant-select-focused .ant-select-selector,
.ant-picker-focused {
    border-color: #c06252 !important;
    box-shadow: 0 0 0 2px rgba(211, 32, 41, 0.2);
}

/* Đổi màu border default (nếu cần) */
.ant-input,
.ant-textarea,
.ant-select .ant-select-selector,
.ant-picker {
    border-radius: 4px;
    transition: all 0.3s;
    border-color: #d9d9d9;
}

/* Màu của caret (dấu nhấp nháy trong input) */
.ant-input,
.ant-textarea {
    caret-color: #c06252;
}


/* Tiny */
.tox .tox-statusbar {
  display: none !important;
}


/* Áp dụng cho toàn bộ trang */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #c06252;
  border-radius: 100px;
  border: 2px solid #f5f5f5; /* viền trắng cho cảm giác mượt */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c06252;
}
